@model EdNexusData.Broker.Web.Models.SettingsViewModel;
@inject EdNexusData.Broker.Web.Helpers.ConnectorHelper ConnectorHelper;
@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    Layout = "_SettingsLayout";
}
@if(Model is not null)
{
<div>
  <h2 class="text-base font-semibold leading-7 text-gray-900">Connectors</h2>
  <p class="mt-1 text-sm leading-6 text-gray-600">List of loaded connectors.</p>

  <ul role="list" class="m-3 text-sm leading-6">
    @if(Model.ConnectorTypes is not null)
    {
      @foreach(var connector in Model.ConnectorTypes)
      {
      <li class="flex justify-between p-2">
        <div class="font-medium text-gray-900">@ConnectorHelper.DisplayName(connector) <br /><span class="text-gray-500">@connector.AssemblyQualifiedName</span></div>
      </li>
      }
    }
  </ul>

  <h2 class="text-base font-semibold leading-7 text-gray-900">Payloads</h2>
  <p class="mt-1 text-sm leading-6 text-gray-600">List of loaded payloads.</p>

  <ul role="list" class="m-3 text-sm leading-6">
    @if (Model.PayloadTypes is not null)
    {
      @foreach (var payload in Model.PayloadTypes)
      {
          <li class="flex justify-between p-2">
              <div class="font-medium text-gray-900">@ConnectorHelper.DisplayName(payload) <br /><span class="text-gray-500">@payload.AssemblyQualifiedName</span></div>
          </li>
      }
    }
  </ul>

</div>
}
