[Unit]
Description=Broker Worker Service
After=network.target

[Service]
WorkingDirectory=/app/EdNexusData.Broker.Worker
ExecStart=/usr/bin/dotnet /app/EdNexusData.Broker.Worker/EdNexusData.Broker.Worker.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=broker-worker
User=broker

[Install]
WantedBy=multi-user.target
