@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="font-title text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>
    <strong>Message: <code>@Model.Exception?.Message</code></strong>
</p>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}